h1 {
  font-size: var(--fs-42);
  font-weight: var(--fw-semibold);
}

h2 {
  font-size: var(--fs-24);
  font-weight: var(--fw-semibold);
}

h3 {
  font-size: var(--fs-22);
  font-weight: var(--fw-semibold);
}

h4 {
  font-size: var(--fs-18);
  font-weight: var(--fw-semibold);
  margin-block-end: 1.25rem;

  @media screen and (min-width: 1024px) {
    font-size: var(--fs-18);
  }
}

p {
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  margin-block-end: 0;

  @media screen and (min-width: 1024px) {
    font-size: var(--fs-18);
  }
}

h1,
h2,
h3,
h4,
p {
  margin-block-start: 0;
}
