:root {
  --color-background-dark: #003049;
  --color-text-dark: #fff7e7;
  --color-highlight-dark: #907ad6;
  --color-highlight-additional-dark: #4b4070; /*used for creating the gradient*/
  --color-highlight-secondary-dark: #a8abfc;
  --color-highlight-secondary-additional-dark: #4f518c; /*used for creating the gradient*/
  --color-tag-dark: #2f4239;
  --color-tag-background-dark: #81b29a;
  --color-hover-border-dark: #669bbc;
  --color-hover-background-dark: #295b77;

  --gradient-highlight-dark: linear-gradient(
    180deg,
    var(--color-highlight-dark) 0%,
    var(--color-highlight-additional-dark) 100%
  );
  --gradient-highlight-secondary-dark: linear-gradient(
    23.02deg,
    var(--color-highlight-secondary-additional-dark) 31.66%,
    var(--color-highlight-secondary-dark) 86.67%
  );
  --gradient-background-dark: linear-gradient(
    90deg,
    rgba(127, 222, 255, 0.15) -15.64%,
    rgba(27, 26, 44, 0.15) 35.48%
  );

  --color-background-light: #fdf0d5;
  --color-text-light: #003049;
  --color-highlight-light: #ff9f1c;
  --color-highlight-additional-light: #f9b85f; /*used for creating the gradient*/
  --color-highlight-secondary-light: #ffbf69;
  --color-highlight-secondary-additional-light: #fccf94; /*used for creating the gradient*/
  --color-tag-light: #780000;
  --color-tag-background-light: #f2c3b1;
  --color-hover-border-light: #81a9c0;
  --color-hover-background-light: #e6e3d1;

  --gradient-highlight-light: linear-gradient(
    180deg,
    var(--color-highlight-light) 0%,
    var(--color-highlight-additional-light) 100%
  );
  --gradient-highlight-secondary-light: linear-gradient(
    23.02deg,
    var(--color-highlight-secondary-additional-light) 31.66%,
    var(--color-highlight-secondary-light) 86.67%
  );

  /*font-sizes*/
  --fs-42: 2.625rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;

  /*font-weights*/
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;

  /*paddings and margins*/
  --padding-layout-inline: 1.5rem;
  --padding-content-inline: 1rem;

  @media screen and (min-width: 1280px) {
    --padding-layout-inline: 2rem;
    --padding-content-inline: 1rem;
  }
}
