---
import Icon, { iconList } from "../components/Icon.astro";
import LibraryLayout from "../layouts/LibraryLayout.astro";

const iconLib = Object.keys(iconList);
---

<LibraryLayout title="Hello World :D">
  <main>
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <div class="gradient-dark-1"></div>
    <div class="gradient-dark-2"></div>
    <div class="gradient-light-1"></div>
    <div class="gradient-light-2"></div>
    <section>
      <h3>Breakpoints:</h3>
      <ul>
        <li>md: 768px</li>
        <li>lg: 1024px</li>
        <li>xl: 1280px</li>
        <li>xxl: 1536px</li>
      </ul>
      <footnote
        >The breakpoints were inspired by the Tailwind CSS breakpoints.</footnote
      >
    </section>
    <section>
      <h3>Icons:</h3>
      <div class="icons">
        {iconLib.map(item => <Icon name={item} />)}
      </div>
      <footnote
        >The icons were sourced from <a
          href="https://fontawesome.com/"
          target="_blank">Font Awesome</a
        > and the <a
          href="https://docs.astro.build/en/getting-started/"
          target="_blank">Astro documentation</a
        >.</footnote
      >
    </section>
  </main>
</LibraryLayout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: var(--color-text);
    font-size: 20px;
    line-height: 1.6;
  }
  .gradient-dark-1 {
    height: 100px;
    width: 100px;
    background: var(--gradient-highlight-dark);
  }

  .gradient-dark-2 {
    height: 100px;
    width: 100px;
    background: var(--gradient-highlight-secondary-dark);
  }

  .gradient-light-1 {
    height: 100px;
    width: 100px;
    background: var(--gradient-highlight-light);
  }

  .gradient-light-2 {
    height: 100px;
    width: 100px;
    background: var(--gradient-highlight-secondary-light);
  }

  .icons {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  .icons :global(svg) {
    height: 40px;
    fill: var(--color-text);
  }
</style>
