---
import { getCollection } from "astro:content";
import Icon from "./Icon.astro";

const allSocials = await getCollection("socials");
---

<div class="socials">
  {
    allSocials.map(social => (
      <a href={social.data.link} target="_blank" class="socials__link">
        <Icon name={social.data.icon} />
      </a>
    ))
  }
</div>

<style>
  .socials {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  a.socials__link {
    color: transparent;
  }
  .socials__link :global(svg) {
    height: 40px;
    fill: var(--color-text);
  }
</style>
