---
const { label } = Astro.props;
---

<div class="tag">{label}</div>

<style>
  .tag {
    color: var(--color-tag);
    background: var(--color-tag-background);
    border-radius: 1.25rem;
    padding: 0.25rem 1rem;
    font-size: var(--fs-14);
    font-weight: var(--fw-semibold);
  }
</style>
