---
import Header from "../components/Header.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import "../styles/base.css";
import "../styles/variables.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- TODO: export font and use it from the assets folder -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="main-layout">
    <Header
      title="Christin Bartz"
      subtitle="Frontend Developer"
      description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor."
    >
      <ThemeToggle />
    </Header>
    <slot />
  </body>

  <style is:global>
    * {
      box-sizing: border-box;
    }
    :root,
    html.customTheme {
      --color-background: var(--color-background-light);
      --color-text: var(--color-text-light);
      --color-hover-background: var(--color-hover-background-light);
      --color-hover-border: var(--color-hover-border-light);
      --color-tag: var(--color-tag-light);
      --color-tag-background: var(--color-tag-background-light);
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --color-background: var(--color-background-dark);
        --color-text: var(--color-text-dark);
        --color-hover-background: var(--color-hover-background-dark);
        --color-hover-border: var(--color-hover-border-dark);
        --color-tag: var(--color-tag-dark);
        --color-tag-background: var(--color-tag-background-dark);
      }
    }

    html.customTheme.dark {
      --color-background: var(--color-background-dark);
      --color-text: var(--color-text-dark);
      --color-hover-background: var(--color-hover-background-dark);
      --color-hover-border: var(--color-hover-border-dark);
      --color-tag: var(--color-tag-dark);
      --color-tag-background: var(--color-tag-background-dark);
    }

    html {
      /* font-family: system-ui, sans-serif; */
      font-family: "Raleway", sans-serif;
      letter-spacing: 1px;
      background: var(--color-background);
      color: var(--color-text);
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    .main-layout {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: 1280px) {
      .main-layout {
        flex-direction: row;
        align-items: flex-start;
      }
    }
  </style>
</html>
