---
import ThemeToggle from "../components/ThemeToggle.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ThemeToggle />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-background: #fff;
    --color-text: silver;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: #13151a;
      --color-text: silver;
    }
  }

  html.customTheme {
    --color-background: #fff;
    --color-text: gold;
  }
  html.customTheme.dark {
    --color-background: #13151a;
    --color-text: gold;
  }

  html {
    font-family: system-ui, sans-serif;
    background: var(--color-background);
    color: var(--color-text);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
